#land--bgc__video {
    position: absolute;
    top:0;
    left:0;


    @media(min-width: 1024px) {
        display:none;

    }
}

.land-insta{
    position: absolute;
    z-index: 5;
    right: 24px;
    width: 450px;
    top: 168px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: rotate(15deg);
    text-decoration: none;        

    &--text{
        margin: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 100%;
        color: #fff;
    }
    &--logo{
        display: flex;
        
        position: relative;
        bottom: 0;
        width: 96px;
        height: 96px;
    }
    @media(max-width: 769px) {
        display: none;
    }
}