.footer {
  width: 90%;
  padding-top: 25px;
  margin: 0 25px 25px 25px;

  &__cart {
    display: none;
  }

  @media (max-width: 768px) {
    position: sticky;
    width:100%;
    bottom: 0;
  }

  .pages-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;
    color: #808080;

    &__list {
      list-style: none;
      display: flex;
      margin: 0 -15px;
      max-width: 270px;
      padding: 0;
    }

    &__link {
      padding: 0 5px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .additional-info-wrapper {
    display: flex;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #808080;
  }
}

@media (max-width: 768px) {
  .footer {
    background: rgba(29, 29, 29, 0.63);
    backdrop-filter: blur(4px);
    padding-top: 20px;
    margin: 0;
    .pages-links {
      justify-content: center;

      &__list {
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        margin: 0;
      }

    }
    .additional-info-wrapper {
      align-items: center;
    }

    &__cart {
      display: block;
      height: 42px;
      line-height: 42px;
      border-radius: 25px;
      background: #a5a5a5;

      &--image {
        transform: translateY(5px);
        // height: 35px;
        padding-left: 5px;
      }

      &--wrapper {
        display: inline-block;
        bottom: 55%;
        right: 16px;
        position: absolute;
        max-width: fit-content;
        height: 42px;



      }

      &--btn {
        position: absolute;
        top: 60%;
        right: 0;
        transform: translate(0%, -60%);
        background-color: transparent;
        line-height: 21px;
        color: white;
        font-weight: 800;
        z-index: 100;
      }
      &--active {
        display: inline-block;
        width: 120px;
        height: 42px;
        border-radius: 25px;
        background: #ee262e;
      }
    }
  }
}

$card-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
$card-border-radius: 24px;

.footer--cart {
  margin-left: 25px;
  margin-right: 25px;
  width: auto;
  margin-bottom: 25px;
  text-align: center;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2d2d2d;
  min-height: 650px;

  &__button {
    background: #ee262e;
    width: 100%;
    color: #fff;
    font-weight: bold;
    border-radius: 0 0 25px 0;
    font-size: 18px;
    // padding: 0 25px;
    height: 48px;
  }

  

  &__btnback {
    border-radius: 25px 25px 0 0;
    margin-bottom: 0px;
    background: #3d3d3d;
    width: 100%;
    color: #fff;
    font-weight: bold;
    border-radius: 0 0 0 25px;
    font-size: 18px;
    // padding: 0 25px;
    height: 48px;
  }

  &__products {
    flex-direction: column;
    padding: 14px 10px 24px;
    overflow-y: scroll;
    height: 429px;
  }
}

.dnone {
  display: none;
}

.dblock {
  display: block;

  // @media(min-width: 769px) {
  //   display:none;
  // }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1366px) and (min-device-width: 769px) {
  div .footer__cart--wrapper{
    display:none;
  }
}
