.pagination {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  margin: 24px 0 24px;

  &__backward {
    margin-bottom: 12px;
  }
}
