.main {
  padding: 0 25px;
  display: flex;
  justify-content: center;
  // max-height: 650px;

  // &__content {
  //   // width: fit-content;
  // }
}

@media (max-width: 768px) {
  .main {
    max-height: none;
    flex-direction: column-reverse;
  }
}
