$card-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
$card-border-radius: 25px;
$background: #ffffff;
$border-radius: 25px;
$select-hover: #dbdbdb;
$red: #e80725;

.checkout {
  position: relative;
  width: 260px;
  // min-width: 260px;
  margin-top: 25px;
  margin-left: 25px;
  text-align: center;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;  //need fix
  max-height: 650px;
  min-height: 650px;
  background-color: #2d2d2d;
  color: #fff;

  @media (max-width: 1024px) and (min-device-width:769px) and (orientation: portrait) {
      display: flex;
      margin-left: 0;
      margin-bottom: 25px;
  }

  &-header {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;

    &__title {
      font-weight: 900;
      font-size: 32px;
      margin-bottom: 16px;
      color: #fff;
    }
  }

  &__divider {
    // position: relative;
    width: 90%;
    margin: 0 auto;
    // margin-bottom: 24px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  }

  &-content {
    padding: 0 20px;
    margin-top: 16px;

    &-form {
      display: flex;
      flex-direction: column;

      &-select-city {
        display: flex;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        margin: 10px 0;
      }

      &-input-group {
        margin-top: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: $border-radius;
        background-color: #fff;
        // margin-bottom: 113px;

        input {
          border: none;
          padding: 10px 10px;
          color: #000000;
          background-color: $background;
          border-radius: $border-radius;
          font-weight: 600;
          width: 100%;
          box-sizing: border-box;
          font-size: 14px;

          &:hover {
            background-color: $select-hover;
          }

          &:active,
          &:hover,
          &:focus {
            outline: 0;
            outline-offset: 0;
          }

          &::placeholder {
            color: #a2a2a2;
          }
        }
      }
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 48px;
    padding: 0 20px;
    // margin-bottom: 16px;

    &__info {
      font-weight: 600;
      font-size: 12px;
      margin-top: 16px;
      margin-bottom: 16px;
      color: rgba(255, 255, 255, 0.6);
    }

    &__button {
      width: 100%;
      position: absolute;
      background: #ee262e;
      color: #fff;
      font-weight: bold;
      border-radius: 0 0 25px 25px;
      font-size: 18px;
      padding: 0 25px;
      height: 48px;
      bottom: 0;
      left: 50%;
      transform: translatex(-50%);

      &:hover {
        background-color: #b81d23;
      }
    }
  }

  &-total {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

    &__text {
      font-weight: 600;
      font-size: 18px;
    }

    &__subtotal {
      font-weight: 800;
      font-size: 14px;
    }
  }
}

.footer-cities-dropdown {
  display: none;
}

@media (max-width: 768px) {
  .checkout {
    margin-left: 0;
    width: auto;
    margin-bottom: 25px;
  }
}

@media only screen
and (min-device-width: 769px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2){
  .checkout {
    margin-left: 25px;
    width: 260px;
    margin-bottom: 25px;
  }
}

.error {
  border: 1px solid red;
}

input[type="email"]:invalid {
  border: 1px solid red;
}

input[name="phone"]:invalid {
  border: 1px solid red;
}

.succesful__checkout {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: $card-border-radius;
  background-color: #ee262e;
  color: #ffffff;
  z-index: 10;
  transition: all 0.1s linear;
}

.succesful__checkout--title {
  position: absolute;
  width: 90%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}

.succesful__checkout--subtitle {
  position: absolute;
  width: 70%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
}

.emptyspace {
  top: 61%;
}

.dnone {
  display: none;
}

.dblock {
  display: block;
}

.checkout__contacts-wrapper{
    width: 1108px;
    box-shadow: $card-shadow;
    height: 650px;
    margin-top: 25px;
    border-radius: 25px;
    display: flex;
    background: #2d2d2d;

    &__map {
      width: 542px;
      height: 650px;
      position: relative;
    }
}

@media only screen
and (min-device-width: 834px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2){
  .contacts-wrapper__info {
    padding: 0;
    padding-top:13px;
    width: auto;
  }

  .checkout__contacts-wrapper {
    width: 830px;
  }

  .contacts-wrapper__map {
    width: 400px;
  }
}

@media only screen
and (min-device-width: 834px)
and (max-device-width: 834px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2){
    .checkout{
      // min-width: 900px;
    }
}
