.contacts {
  display: flex;
  justify-content: center;
  align-content: center;

  &-wrapper {
    width: 1108px;
    height: 650px;
    margin: 71px 0 87px;
    display: flex;
    background: #2d2d2d;

    &__map {
      width: 542px;
      height: 100%;
      position: relative;
    }

    &__info {
      width: 572px;
      display: flex;
      flex-direction: column;
      padding: 57px 30px 57px 20px;
      font-size: 24px;
      font-weight: 400;
      color: #4f4f4f;
    }
  }

  .info-header {
    padding: 0 15px;
    color: #fff;

    &__row {
      display: flex;
      justify-content: space-between;

      &__hot-line-number {
        color: #fff;
        font-weight: 600;
      }
    }

    &__divider {
      margin: 10px 0 13px;
    }
  }

  .info-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.75);

    &-row {
      margin: 15px 0;

      &--active {
        background-color: #e2e2e2;
        border-radius: 25px;
        padding: 15px 15px;
        margin: 0 -15px;
        color: #000;
      }

      &__top {
        display: flex;
        justify-content: space-between;

        span:first-child {
          font-weight: 600;
          font-size: 24px;
          text-align: left;
        }
        span:nth-child(2) {
          font-weight: 400;
          font-size: 24px;
          text-align: right;
        }
      }

      &__bottom {
        font-size: 24px;
        font-weight: 400;
        text-align: left;
      }
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    &-wrapper {
      flex-direction: column;
      height: auto;
      width: 100%;
      align-items: center;
      margin-right: 25px;
      margin-left: 25px;

      & > div:first-child {
        width: 100%;
      }

      &__map {
        width: auto;
        display: none;
      }

      &__info {
        font-size: 12px;
        width: inherit;
      }
    }
  }

  .info-content{
    font-size: 12px;
  }

  .contacts .info-content-row__top span:first-child,
  .contacts .info-content-row__top span:nth-child(2),
  .contacts .info-content-row__bottom {
    font-weight: 600;
    font-size: 12px;
    text-align: left;
  }

  .contacts .info-content-row__top span:nth-child(2) {
    text-align: right;
  }

  .contacts-wrapper__info {
    padding-top: 13px;
    padding-bottom: 5px;
  }

}

@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2){
  .contacts-wrapper__info {
    padding: 0;
    padding-top:13px;
    width: auto;
  }

  .checkout__contacts-wrapper {
    width: 830px;
  }

  .contacts-wrapper__map {
    width: 400px;
  }
}

